body {
  visibility: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

/* links */
a,
a:visited {
  color: #585858 !important;
  text-decoration: none;
}

a:hover {
  color: #ff8700 !important;
  text-decoration: underline;
}

/* header (the logo..) */
#gerrit_header {
  position: absolute;
  top: 0;
}

#gerrit_header h2 {
  padding-left: 20px;
  height: 25px;
}

/* reset default styles */
.topmenuMenuLeft {
  width: auto;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.topmenuTDmenu {
  padding: 0 !important;
}

.gwt-TabBar .gwt-TabBarItem {
  border-bottom: 0 !important;
}

.linkMenuBar {
  padding-left: 0 !important;
}

/* the holy menu */
#gerrit_topmenu {
  background-color: transparent !important;
  color: #ffffff !important;
  padding: 0;
  font-size: 13px;
  padding-left: 160px;
}

#gerrit_topmenu a {
  color: #ffffff !important;
}

#gerrit_topmenu .gwt-TabBar {
  border-bottom: none !important;
}

#gerrit_topmenu .gwt-TabBarItem,
#gerrit_topmenu .gwt-TabBarRest,
#gerrit_topmenu .gwt-TabPanelBottom {
  background: none !important;
}

#gerrit_topmenu > table {
  background: url(/static/s-buttons.2a9e3abb93e617254323a2f81b.cache.png) left
    top repeat-x !important;
  border-collapse: collapse !important;
  border-top: 1px solid #e97e0d !important;
}

#gerrit_topmenu > table > tbody > tr > td > table {
  border: 0 !important;
}

#gerrit_topmenu .gwt-Label {
  color: #ffffff !important;
  height: 25px;
  padding-top: 4px;
}

#gerrit_topmenu .gwt-TabBarItem,
#gerrit_topmenu .gwt-TabPanelBottom a {
  border-left: 1px solid #ffc37d !important;
  border-right: 1px solid #e97e0d !important;
}

#gerrit_topmenu .gwt-TabPanelBottom {
  padding: 0 !important;
}

#gerrit_topmenu .gwt-TabPanelBottom a {
  display: inline-block;
  height: 23px;
  padding-top: 7px;
  margin-top: 1px;
}

#gerrit_topmenu .gwt-TabBarItem-wrapper:hover,
#gerrit_topmenu .gwt-TabPanelBottom a:hover {
  background-color: #ffa70b;
}

#gerrit_topmenu .gwt-TabBarItem-selected,
#gerrit_topmenu .gwt-TabPanelBottom a.menuItem.activeRow {
  background-color: #faaf28 !important;
}

/* hell yeah, this is the right corner..
   #gerrit_topmenu > table > tbody > tr > td:nth-child(3) > div > div
*/
#gerrit_topmenu > table > tbody > tr > td:nth-child(3) > div > div span,
#gerrit_topmenu > table > tbody > tr > td:nth-child(3) [role="menuitem"] {
  display: inline-block;
  height: 25px !important;
  padding: 4px 10px 0 10px !important;
  border-right: 1px solid #e97e0d !important;
}

#gerrit_topmenu > table > tbody > tr > td:nth-child(3) [role="menuitem"] {
  border-left: 1px solid #ffc37d;
}

/* hell yeah, and this is the search box */
#gerrit_topmenu
  > table
  > tbody
  > tr
  > td:nth-child(3)
  > div
  > div:nth-child(2) {
  padding-top: 6px;
}

/* working... message */
#gerrit_topmenu > div > span {
  border: 1px solid #000000;
  box-shadow: 1px 1px 10px #888;
  color: #000000 !important;
  position: absolute;
  top: 29px;
  width: 100px;
}

/* a text saying "Loading Gerrit Code review" */
#gerrit_startinggerrit {
  padding-left: 180px;
}

/* footer */
#gerrit_btmmenu {
  margin-right: 10px;
  background: url(static/footer-logo.b9f2ba66aab906975d481c42d4.cache.gif)
    no-repeat scroll right center transparent;
}

#gerrit_btmmenu div {
  color: #aaaaaa !important;
  margin-right: 15px;
  font-size: 0.8em;
}
