@import url('/static/gerrit-styles_1515270490.cache.css');

body {
  visibility: hidden;
	font-family: 'Source Sans Pro', sans-serif; }

/* Login Handling */
@element '#login_form' {
	/* Background image handling */
	$root { height: 100%; }
	$root body { 
		height: 100%;
		background-image: url(/static/progressive_image_lake-sF27CHQAzJC535.cache.jpg);
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		background-color: #999;
	}

	/* Hide old components */
	$root #gerrit_topmenu { display: none; }
	$root #gerrit_header { display: none; }
	$root #gerrit_body {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		resize: both;
		overflow: auto;
	}
	$root #gerrit_body h1 {
		display: none;
	}
}

