[gerrit]
  autoReload = true
  defaultForceUpdate = true
[remote "git"]
  url = <%= node['git-daemon']['user'] %>@localhost:<%= node['git-daemon']['home'] %>/repositories/${name}.git
  authGroup = Git Mirror
  mirror = true
  threads = 8
  timeout = 120
[remote "forge"]
  url = git@forge.typo3.org:repositories/${name}.git
  push = +refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
  authGroup = Forge Mirror
  mirror = true
  threads = 8
  timeout = 120
[remote "github/TYPO3/TYPO3.CMS"]
  projects = Packages/TYPO3.CMS
  url = https://github.com/TYPO3/TYPO3.CMS.git
  push = +refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
  authGroup = Git Mirror
  mirror = true
  timeout = 120
[remote "github/TYPO3-extensions"]
  projects = TYPO3CMS/Extensions/*
  url = https://github.com/TYPO3-extensions/${name}.git
  remoteNameStyle = basenameOnly
  push = +refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
  authGroup = Git Mirror
  mirror = true
  threads = 8
  timeout = 120
